## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
import math
print(math.pow(7,4))

2401.0

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [26]:
s = "Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [34]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

List is dynamic whereas tuple is static in characteristics

List is mutable whereas tuple is immutable

List is used using [] brackets whereas Tuple is used using ()

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [38]:
d="user@domain.com"
def fun(d):
  a=""
  res= False
  for i in d:
    if(res):
      a=a+i
    if(i=="@"):
      res = True
  return a
print(fun(d))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [7]:
def res(sentence,word):
  s=sentence.split(" ")
  for i in s:
    if(i==word):
      return True
  return False
s="My Dog name is Dora"
word = "Dog"
if(res(s,word)):
  print("True")
else:
  print("False")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [27]:
def res(str, word):
    a = str.split(" ")
    c = 0
    for i in range(0, len(a)):
        if (word == a[i]):
           c = c+ 1           
    return c      

str ="My Dog name is Doro , Dora is a very cute Dog as well as a very good friend. My Dog is very lazy sometimes"
word ="Dog"
print(res(str, word))

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [18]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [19]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(100,True))

Big Ticket

In [21]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(63,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [23]:
employees = ["Dharshan","Pavi", "Abisha", "Dhayalini", "Savitha"]
salary={}
for emp in employees:
  amount=int(input(f'Enter salary for {emp}: '))
  salary[emp]=amount
print('Total salary ',sum(salary.values()))

Enter salary for Dharshan: 100000
Enter salary for Pavi: 150000
Enter salary for Abisha: 500
Enter salary for Dhayalini: 100
Enter salary for Savitha: 50000
Total salary  300600

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [24]:
x={'Empid' : 401, 'Empname':"Dharshan","Basicpay": 10000}
y= {'DeptName': "Excecutive", 'Deptid': 12345}
def res(x,y):
  z=x.copy()
  z.update(y)
  return z
z=res(x,y)
print(z)

{'Empid': 401, 'Empname': 'Dharshan', 'Basicpay': 10000, 'DeptName': 'Excecutive', 'Deptid': 12345}